<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Brute Force Approach</title>

    <script src="{{ url_for('static', filename='Javascript/p5.gui.js') }}"></script>
    <script src="{{ url_for('static', filename='Javascript/p5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='Javascript/p5.sound.min.js') }}"></script>
    <script src="{{ url_for('static', filename='Javascript/p5.quicksettings.js') }}"></script>
    <style>
      body{
        background-color: black;
      }
    </style>
  </head>

  <body>
      <span id = "playto" style="display:none">{{task_content}}</span>
    <script id="Approach" src="{{ url_for('static', filename='Javascript/geneticAlgorithm.js') }}"></script>
    <script id="GA" src="{{ url_for('static', filename='Javascript/GA.js') }}"></script>

  </body>
</html>
