<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travelling Salesman Problem</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
        body{
            width: 100%;
            height: 100vh;
            color: #fff;
            background:  linear-gradient(-45deg, #ecb211, #EE7752, #E73C7E, #23A6D5, #23D5AB, #ecb211);
            background-size: 400% 400%;
            position: relative;
            animation: change 10s ease-in-out infinite;
        }


        @keyframes change{
            0%{
                background-position: 0% 50%;
            }
            50%{
                background-position: 100% 50%;
            }
            100%{
                background-position: 0% 50%;
            }
        }
    </style>
</head>
<body>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-three-fifths is-offset-one-fifth">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-2by1">
                                <img src="https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
                            </figure>
                        </div>
                        <header class="card-header">
                        <p class="card-header-title">
                            Travelling Salesman Problem
                        </p>
                        
                        </header>
                        
                        <footer class="card-footer">
                            <form method="post" action="/brute" target="_blank" class="card-footer-item">
                                <label for="playto" class="label is-small is-inline">Number of Cities: </label>
                                <div class="select is-rounded">
                                    <select name="playto">
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                    </select>
                                </div>
                                <button id = "p1Button" class="is-primary button card-footer-item is-medium" type="submit" style="margin: 1rem; padding: 0rem 3rem">Brute Force</button>
                            </form>
                            <form method="post" action="/dynamic" target="_blank" class="card-footer-item">
                                <label for="playto" class="label is-small is-inline">Number of Cities: </label>
                                <div class="select is-rounded">
                                    <select name="playto">
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                    </select>
                                </div>
                                <button id = "p2Button" class="is-info button card-footer-item is-medium" type="submit" style="margin: 1rem">Dynamic Approach</button>
                            </form>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>